.more-info {
  flex-direction: column;
  overflow: hidden;

  .main,
  .details {
    padding: 8px 16px;
  }

  .main {
    align-items: center;
    background-color: var(--bg);
    border-left: 1px solid var(--primary);
    display: flex;

    .content {
      text-align: start;
    }

    .chevron {
      margin-left: 40px;
    }

    @mixin transition background-color;

    @mixin hover {
      background-color: var(--bg-off);
    }
  }

  .details {
    display: none;
  }
}
