@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 100 1000;
  src: url('/fonts/NunitoSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 100 1000;
  src: url('/fonts/NunitoSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 100 1000;
  src: url('/fonts/Quicksand.ttf') format('truetype');
}
